body,
.offcanvas {
  background-color: rgb(11, 23, 39);
}
nav#top-navbar,
#mode {
  background-color: rgb(7, 28, 56) !important;
}

#navbar-left a.nav-link:hover,
.offcanvas-collapse a:hover,
#offcanvas-btn1:hover,
#right-navbar .dropdown-menu h5 {
  color: #fff !important;
}
.nav-link,
.dropdown-item,
.dropdown-item > a {
  color: #9da9bb !important;
}
.card .dropdown-menu a,
.theme-setting-wrapper,
.theme-setting-wrapper > a {
  color: rgb(157, 169, 187) !important;
  text-decoration: none;
}
#navbar-left .nav-link:active,
#navbar-left .nav-link:focus,
#right-navbar .nav-link:active,
#right-navbar .nav-link:focus,
#offcanvas-btn1:active,
#offcanvas-btn1:focus {
  color: rgb(13 110 253) !important;
}
.custom-nav,
#right-navbar .dropdown-menu,
.dropdown > a.dropdown-toggle:before,
.card .dropdown-menu {
  background-color: rgb(7, 28, 56);
  border-color: rgba(255, 255, 255, 0.05);
}

button.btn-close.text-reset {
  background-image: none;
  color: #fff !important;
  font-size: 1.3rem;
  line-height: 0;
  opacity: 1;
}

hr {
  background-color: rgb(139 148 158);
}
.form-control {
  background-color: #0b1727;
  border-color: rgba(255, 255, 255, 0.05);
  color: rgb(108, 117, 125) !important;
}
#right-navbar .btn-primary {
  background-color: #0b1727;
  border-color: rgba(255, 255, 255, 0.05);
  color: rgb(108, 117, 125) !important;
}
#right-navbar .btn-primary:hover {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.05);
  background-color: #121e2d;
}
#right-navbar .btn-check:focus + .btn-primary,
#right-navbar .btn-primary:focus {
  color: #fff;
  background-color: rgb(18, 30, 45);
  border-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 0.25rem rgb(44 123 229 / 25%);
}
select.form-control {
  color: rgb(157, 169, 187) !important;
}
.form-control:focus {
  background-color: rgb(11, 23, 39);
  border-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 0.25rem rgb(44 123 229 / 25%);
}
@media only screen and (max-width: 991px) {
  ul#right-navbar {
    background-color: rgb(11, 23, 39);
  }
  .nav-link:hover,
  .dropdown-item:hover,
  .dropdown-item > a:hover {
    color: #9da9bb !important;
  }
}

.card,
.card-header,
.offcanvas-collapse a {
  background-color: rgb(18, 30, 45) !important;
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.05);
}
.card,
.card-header,
.text-muted {
  color: rgb(157, 169, 187) !important;
}
.table > :not(:first-child) {
  border-top: 2px solid rgb(48 54 61 / 1);
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card .card-body a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}
.card-header,
.single-theme-switcher label {
  border-color: rgba(255, 255, 255, 0.05) !important;
}
.card-footer,
.card-header,
#mode {
  background-color: rgba(35, 46, 60, 0.25) !important;
  border-color: rgba(255, 255, 255, 0.05);
}
.table,
tr,
td {
  color: rgb(255, 255, 255) !important;
  border-color: rgba(255, 255, 255, 0.05);
}
